@import url(/css/userPanel/panel.css);

.verify {
    max-width: 50rem;
    margin: 2rem auto;
}
.verify__notic {
    font-size: var(--font-size-md);
    line-height: 2.5rem;
}
.verify__nationality {
    margin-top: 4rem;
}
.verify__nationality-title {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-family: "iransans-medium";
    color: var(--black-color);
}
.verify__nationality-subtitle {
    font-size: var(--font-size-sm);
}
.verify__nationality-select {
    position: relative;
}
.verify__nationality-select-wrapper {
    display: flex;
    justify-content: space-between;
    border: var(--border);
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    cursor: pointer;
}
.verify__nationality-select-name {
    font-size: 1.6rem;
    font-family: "iransans-medium";
    color: var(--black-color);
}
.verify__nationality-select-icon {
    font-size: var(--font-size-md);
}
.verify__nationality-dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 6rem;
    background-color: var(--white-color);
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.08), 0 -8px 32px -4px rgba(0, 0, 0, 0.04),
        0 16px 24px -6px rgba(0, 0, 0, 0.04);
    transition: var(--transition);
}
.verify__nationality-dropdown-item {
    padding: 1.5rem;
    font-size: var(--font-size-md);
    transition: var(--transition);
    cursor: pointer;
}
.verify__nationality-dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.verify__national-code {
    margin-top: 4rem;
}
.verify__national-code-title {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    font-family: "iransans-medium";
    color: var(--black-color);
}
.verify__national-code-subtitle {
    font-size: var(--font-size-sm);
}
.verify__national-code-form {
    margin: 1rem 0;
}
.verify__national-input {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    width: 100%;
    border: var(--border);
    font-size: var(--font-size-md);
}
.verify__national-input:focus {
    border: 1px solid var(--primary-color);
}
.verify__national-btn {
    margin-top: 3rem;
    border-radius: 0.3rem;
    width: 100%;
    padding: 1.5rem 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
}


/* باید به verify__nationality-dropdown-item اد بشه */
.verify__nationality-dropdown-item--active {
    background-color: rgba(0, 0, 0, 0.04);
    color: var(--primary-color);
}

/* باید به verify__nationality-dropdown اد بشه */
.verify__nationality-dropdown--active {
    visibility: visible;
    opacity: 1;
    top: 4.5rem;
}

/* باید به verify__nationality-select-icon اد بشه */
.verify__nationality-select-icon--active {
    transform: rotate(180deg);
}
